:root {
	--color-primary: #488cfa;
	--color-primary-dim: #3c74cf;
	--color-primary-dark: #194080;

	--color-link-hover: #b6c0f0;
	--color-link-active: #488cfa;
}

/* Modest fixes */
pre, code { background-color: #1A1A1A !important; }
h1, h2, h3 { border-bottom: 2px solid #323232 !important; }
pre { overflow-x: hidden !important; }

/* Dark theme */
body {
	color: #BDBDBD !important;
}

body, button { text-shadow: 1px 1px 1px black; }
code { color: #EEE !important; }
pre { border-radius: 16px; }

/* Remove styles and colors from links */
a, a:hover, a:active, a:visited { text-decoration: none; }
a, a:visited {
	color: var(--color-primary) !important;
	border-bottom: 2px solid;
	border-bottom-color: transparent;
	border-radius: 2px;
	transition: color 150ms linear, border-bottom-color 150ms linear;
}
a:hover { color: var(--color-link-hover) !important; border-bottom-color: var(--color-primary-dim); }
a:active { color: var(--color-link-active) !important; }

.button {
    background-color: #0e6ffd;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.button:hover {
    color: white !important;
    background-color: #044bb4;
}

